@import "tailwindcss";


.swiper-pagination-bullet {
    background-color: #ffffff !important;
}
.swiper-pagination-bullet-active {
    background-color: #216ad9 !important;
}

.perspective-1000 {
  perspective: 1000px;
}
